.sort {
  position: relative;
  width: 150px;
  cursor: pointer;
}

.sort__selected {
  padding: 10px 15px;
  background: #fff;
  color: #6f768d;
  text-transform: uppercase;
  text-align: left;
  border-right: 1px solid #9d1b18;
}

.sort__list {
  position: absolute;
  top: 140%;
  left: 0;
  width: 100%;
  background: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: left;
}

.sort::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 55%;
  transform: translateY(-50%);
  border: 6px solid transparent;
  border-top-color: #9d1b18;
  pointer-events: none;
}

.sort__item {
  padding: 10px;
  color: #6f768d;
  border-radius: 5px;
}

.sort__item:hover {
  background-color: #fff0f0;
  color: #9d1b18;
}

@media (max-width: 1024px) {
  .sort {
    width: 130px;
  }
}

@media (max-width: 768px) {
  .sort {
    width: 120px;
  }

  .sort__selected {
    padding: 0.4rem;
  }
}

@media (max-width: 480px) {
  .sort {
    width: 100%;
  }

  .sort::after {
    right: 0.5rem;
  }

  .sort__selected {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    font-size: small;
  }

  .sort__item {
    font-size: small;
  }
}
