.book-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s, transform 0.3s;
  flex: 0 1 calc(25% - 2rem);
}

.book-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  background-color: #fff0f0;
  color: #9d1b18;
}

.book-item__title {
  font-size: 1.25rem;
  color: #333;
  margin: 0;
}

.book-item__author,
.book-item__genre {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

.book-item__author {
  font-weight: 500;
}

.book-item__genre {
  font-style: italic;
}

.highlight {
  color: #9d1b18;
  font-weight: bold;
}

@media (max-width: 1350px) {
  .book-item {
    flex: 0 1 calc(33.33% - 2rem);
  }
}

@media (max-width: 1000px) {
  .book-item {
    flex: 0 1 calc(50% - 2rem);
  }
}

@media (max-width: 650px) {
  .book-item {
    flex: 0 1 calc(100% - 5rem);
  }
}
